span.checkbox {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: rgba(0,47,64,0.75);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    line-height: 12px;
    cursor: pointer;
}

span.checkbox.checked {
    background: #002f40 url("../img/checkbox.png") no-repeat 0 0;
}

span.checkbox-white span.checkbox {
    background-color: #ffffff;
}
span.checkbox-white span.checkbox.checked {
    background: #ffffff url("../img/checkbox.png") no-repeat 0 -24px;
}
span.checkbox-white span.checkbox.halfchecked {
    background: #ffffff url("../img/checkbox.png") no-repeat 0 -12px;
}